/* Todo: Make white theme */

:root {
    --app-color-background: #121212;
    --app-color-background-contrast: #fff;

    --app-color-primary: #FF4B4B;
    --app-color-primary-rgb: 255,75,75;
    --app-color-primary-contrast: #000000;
    --app-color-primary-contrast-rgb: 0,0,0;
    --app-color-primary-shade: #e04242;
    --app-color-primary-tint: #ff5d5d;

    --app-color-safe: #2b8dce;
    --app-color-safe-tint: #36abff;

    --app-color-light: #0A0A0A;
    --app-color-light-rgb: 10,10,10;
    --app-color-light-contrast: #ffffff;
    --app-color-light-contrast-rgb: 255,255,255;
    --app-color-light-shade: #090909;
    --app-color-light-tint: #232323;

    --app-color-medium: #0F0F0F;
    --app-color-medium-rgb: 15,15,15;
    --app-color-medium-contrast: #ffffff;
    --app-color-medium-contrast-rgb: 255,255,255;
    --app-color-medium-shade: #0d0d0d;
    --app-color-medium-tint: #272727;

    --app-color-note: #787878;

    --app-color-image: #1E1E1E;
}
