<div class="item" #card>
  <img class="item__image" alt="{{ imageAlt }}" src="{{ image }}">
  <ion-button class="item__add-button" (click)="onClick()" #cardButton>
    <ng-container *ngIf="!buttonIcon">
      <ion-icon name="bag-outline" color="dark"></ion-icon>
      <ion-icon name="bag" color="dark" hidden></ion-icon>
    </ng-container>
    <ng-container *ngIf="buttonIcon">
      <ion-icon name="{{buttonIcon}}" color="dark"></ion-icon>
    </ng-container>
  </ion-button>
  <div class="item__info">
    <p class="item__price">{{ price }} руб</p>
    <p class="item__name">{{ name }}</p>
  </div>
  <ng-container *ngIf="showShop">
    <p class="item__name"></p>
  </ng-container>
</div>
