.item {
    --padding-start: 0;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;

    background-color: var(--ion-color-light-tint);
}

.item__info {
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item__name {
    height: 40%;
}

ion-item::part(native) {
    background: transparent;
}