.item {
    width: 100%;
    max-width: 400px;

    margin: auto;

    &::part(native) {
        padding-left: 0;
    }
}

img {
    width: 100px;
    height: 100px;

    background-color: var(--ion-color-light-tint);
}

.item__info {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    height: 100%;

    margin: auto;

    text-align: center;
}