.account-banner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.person__name {
    height: 100%;
    display: flex;
    justify-content: space-around;
}