<ion-item>
  <ion-checkbox slot="start" (ionChange)="onMark($any($event))"
                              [checked]="mainCheckboxChecked | async"
                              *ngIf="!deleteModeTriggered"
                              #checkbox></ion-checkbox>
  <ion-label [class.cross]="(mainCheckboxChecked | async) && !deleteModeTriggered" class="ion-text-wrap">{{ item.name }}</ion-label>
  <ion-checkbox slot="start" *ngIf="deleteModeTriggered" (ionChange)="onMark($any($event))" color="danger" class="item__delete-checkbox"></ion-checkbox>

  <ion-note slot="end" class="item__price">{{ item.price }} руб</ion-note>
</ion-item>