<ion-item-sliding (touchend)="onTouchEnd()" #itemSliding>
  <ion-item>
    <ion-checkbox slot="start" (ionChange)="onMark($any($event))"
                               [checked]="mainCheckboxChecked | async"
                               *ngIf="!deleteModeTriggered"
                               #checkbox></ion-checkbox>

    <ion-label [class.cross]="(mainCheckboxChecked | async) && !deleteModeTriggered">{{ item.name }}</ion-label>
    <p slot="end">{{ item.price }} руб</p>

    <ion-checkbox slot="start" *ngIf="deleteModeTriggered" (ionChange)="onMark($any($event))" color="danger" class="item__delete-checkbox"></ion-checkbox>
  </ion-item>

  <ion-item-options side="end" *ngIf="!deleteModeTriggered">
    <ion-item-option color="light" expandable>
      Подробнее
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="start" *ngIf="!deleteModeTriggered">
    <ion-item-option color="danger" expandable (click)="cart.removeItem(item.id)">
      Удалить
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>