<ion-item-sliding (touchend)="onTouchEnd()" #itemSliding>
  <ion-item>
    <ion-checkbox slot="start" (ionChange)="onMark(item.id, $any($event))"
                               [checked]="checked | async"
                               #checkbox></ion-checkbox>

    <ion-label [class.cross]="checkbox.checked && !deleteModeTriggered">{{ item.name }}</ion-label>
    <p slot="end">{{ item.price }} руб</p>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="light" expandable>
      Подробнее
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="start">
    <ion-item-option color="danger" expandable (click)="cart.removeItem(item.id)">
      Удалить
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>