.list {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

// .goods__list {
//     display: flex;

//     // border: 2px solid var(--ion-color-light-tint);
//     width: 100%;

//     margin: auto;

//     margin-top: 50px;
    
//     flex-direction: row;
//     justify-content: center;
//     gap: 20px;

//     flex-wrap: wrap;

//     &.selected {
//         display: flex;
//     }
// }

.shop__name {
    font-size: 35px;
    margin-bottom: 0;
}

.start {
    display: flex;

    align-items: center;
    gap: 20px;
}

.shop {
    margin-top: 0;
    gap: 20px;
}

.hovered-item {
    z-index: 1;

    &::before {
        display: block;
        content: '';
        animation: 1.5s linear deleting;
        z-index: 2;

        width: 0;
        height: 100%;
    }
}

@keyframes deleting {
    0% {
        background: linear-gradient(to right, var(--ion-color-danger) 0px, darkgreen 100%);
    }
    100% {
        background: linear-gradient(to right, var(--ion-color-danger-shade) 100%, darkgreen 0px);
    }
}