<ng-container>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-side-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title [innerText]="deleteModeTriggered ? 'Удалить элементы' : 'Список'">
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="deleteModeTriggered = !deleteModeTriggered">
          <ion-icon [name]="deleteModeTriggered ? 'close' : 'pencil'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="container list">
      <div class="shop container">
        <ng-container [appLoadable]="onLoaded" [promise]="readyPromise" [callback]="updateItemsCallback">
          <ng-template #onLoaded>
            <ng-container *ngFor="let shop of items | array">
              <p class="container__title shop__name">{{ shop.key }}</p>
              <ion-list class="goods__list">
                <ion-item *ngFor="let item of shop.value" class="list__item"
                          #ionItem
                          lines="none" 
                          [button]="true" 
                          long-press
                          (tap)="onTap(item.id)"
                          (press)="deleteModeTriggered = true"
                          [delay]="500">
                  <ion-checkbox slot="start" (ionChange)="onMark(item.id, $any($event))"
                                             [checked]="global.markedCartList.includes(item.id)" 
                                             *ngIf="!deleteModeTriggered"
                                             #checkbox></ion-checkbox>
                  <div class="item__clickable">
                    <p [classList]="[global.markedCartList.includes(item.id) && !deleteModeTriggered ? 'cross' : '']">{{ item.name }}</p>
                    <p slot="end">{{ item.price }} руб</p>
                  </div>
                  <ion-checkbox slot="end" *ngIf="deleteModeTriggered" [id]="item.id" [checked]="deleteCheckboxSelected.includes(item.id)"></ion-checkbox>
                  <ion-button *ngIf="!deleteModeTriggered" hidden></ion-button>  <!-- Hacky way to make ion-item not clickable -->
                </ion-item>
              </ion-list>
            </ng-container>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </ion-content>
  <ion-footer *ngIf="readyPromise | async">
    <div class="container" *ngIf="!deleteModeTriggered">
      <p class="container__title">Итого: {{ getItemPriceSum() }} руб</p>
    </div>
  </ion-footer>
</ng-container>
