.line {
    display: none;
}

.wrapper {
    gap: 20px;
}

.search-bar {
    --min-height: 50px;
    --border-radius: 20px;
}

.tag-button {
    width: 30px;
    height: 30px;

    &::part(native) {
        padding: 0;
    }
}

.choice {
    --min-height: 60px;
    
    // &>ion-icon {
    //     margin-right: 20px;
    // }
}

.shops {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    margin-top: 0;
}

.shops__section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
}

.section__title {
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.find-button {
    width: 100%;
    align-items: center;
}

.find {
    margin-bottom: 200px;
}

.submit-button {
    position: fixed;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 500px;
    width: 80%;
    height: 80px;
    font-size: 20px;
    z-index: 100;
}

.search__description {
    margin-bottom: 20px;
    text-align: center;
}

.example-tags {
    background-color: var(--ion-color-light-tint);
    padding: 10px 15px;
    line-height: 70px;
    border-radius: 10px;

    margin-right: 10px;
}

.search-results {
    margin-top: 10px;
}

.help-icon {
    font-size: 20px;
    border: 3px solid var(--ion-color-primary);
    color: var(--ion-color-primary);

    border-radius: 20px;
}

.help-modal {
    --width: 95%;
    --max-width: 600px;
    --height: 355px;
}

.help-modal__title {
    text-align: center;
    width: 100%;
}

.help-modal__content {
    padding: 20px;
}

.help-modal__button {
    margin-top: 25px;
    width: 50%;
    height: 50px;

    position: relative;
    left: 50%;

    transform: translate(-50%, -50%);
}

.search-results__details ion-list {
    margin-top: 20px;
}