<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-side-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лента
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search">
        <ion-icon name="search" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding list">
    <div class="list__header">
      <ion-label class="list__title">Город</ion-label>
      <ion-label class="list__city ion-text-wrap" color="primary" id="asd">
        {{ global.selectedCity ? global.selectedCity : 'Выбрать город' }}
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-label>
    </div>
    <div class="list__main">
      <ion-card class="list__card" [button]="true">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="card__img" />
        <ion-card-header>
          <ion-card-title>Манчаары</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label><ion-icon name="star" /> 4.3</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-modal trigger="asd" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="" (click)="modal.dismiss()"></ion-back-button>
        </ion-buttons>

        <ion-input placeholder="Поиск" class="search-bar" clearInput #searchbar enterkeyhint="search" (keyup.enter)="search()" />
      </ion-toolbar>
    </ion-header>
    <ion-content>

    </ion-content>
  </ng-template>
</ion-modal>