<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="search container">
      <ion-searchbar></ion-searchbar>
    </div>
    <div class="shops container">
      <section class="shops__section">
        <div class="section__title">Магазины поблизости</div>
        <ul class="section__list">
          <li>
            <app-shop [name]="'Манчаары'" [rating]="'4.1'"></app-shop>
          </li>
          <li>
            <app-shop [name]="'Манчаары'" [rating]="'4.1'"></app-shop>
          </li>
          <li></li>
          <li></li>
          <li>
            <ng-template #dynamic></ng-template>
          </li>
        </ul>
      </section>
    </div>
  </div>
</ion-content>
