<div *ngIf="readyPromise | async">
<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="search container">
      <ion-searchbar></ion-searchbar>
    </div>
    <div class="shops container">
      <section class="shops__section">
        <div class="section__title">Магазины поблизости</div>
        <ul class="section__list">
          <ng-container *ngFor="let shop of data">
            <li>
              <app-shop [name]="shop.name" [rating]="shop.rating"></app-shop>
            </li>
          </ng-container>
        </ul>
      </section>
    </div>
  </div>
</ion-content>
</div>