.account {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 50px;
}

.account__nav-menu {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    
    &>app-button {
        width: 100%;
    }
}
.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

    &>input {
        height: 40px;
        padding: 10px;

        &::placeholder {
            text-align: center;
        }
    }
}