<ion-content [fullscreen]="true" #content>
  <div class="account container">
    <p class="container__title">Аккаунт</p>
    <ul class="account__nav-menu">
      <app-button [navItem]="navItem" *ngFor="let navItem of navList"></app-button>
    </ul>
  </div>
</ion-content>

<ng-template #login>
  <p class="container__title">Войти</p>
  <div class="login">
    <input type="text" name="username" placeholder="Логин">
    <input type="password" name="password" placeholder="Пароль">
  </div>
</ng-template>