<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper" #content>
    <div *ngIf="readyPromise | async; else loading">
      <div class="container shop">
        <p class="shop__name">{{ data.name }}</p>
        <p class="shop__address">Адрес: {{ data.address }}</p>
      </div>
      <div class="goods container">
        <div class="goods__list-categories">
          <ng-container *ngFor="let category of data?.categories">
            <p class="goods__category">{{ category }}</p>
          </ng-container>
        </div>
        <div class="goods__list">
          <ng-container *ngFor="let item of data?.item_set">
            <app-item [id]="item.id" [name]="item.name" [price]="item.price" [imageAlt]="item.name" [shopId]="data.id" [category]="item.category"></app-item>
          </ng-container>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <p style="margin: 100px auto; text-align: center; width: 70%;" id="loading">Загрузка...</p>
    </ng-template>
  </div>
</ion-content>
