.item {
    padding: 0 20px;
}

.nav-menu__arrow {
    width: 20px;

    transition-duration: 0.2s;

    &.rotated {
        transform: rotate(90deg);
    }
}

ion-modal {
    --width: 90%;
    --max-width: 450px;
    --border-radius: 16px;
}
