.item {
    padding: 0 20px;
}

.nav-menu__arrow {
    width: 20px;

    transition-duration: 0.2s;

    &.rotated {
        transform: rotate(90deg);
    }
}

ion-modal {
    --width: 90%;
    --max-width: 450px;
    --border-radius: 16px;
    --box-shadow: 0px 0px 10px 10px var(--ion-color-light-shade);
}
  
ion-modal::part(backdrop) {
    background: var(--ion-color-light-shade);
}

ion-modal ion-toolbar {
    --background: var(--ion-color-light);
}