<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <app-searchbar (onEnter)="search()"></app-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!(inSearch | async)">
    <ion-list-header>
      <ion-label>Популярное</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="search('asd')">
      <ion-icon name="search" slot="start" />
      asd
    </ion-item>
  </ion-list>
  <ng-container [appLoadable]="main" [promise]="searchPromise" (callback)="search(searchQuery)"></ng-container>
  <ng-template #main>
    <ion-list class="ion-padding" *ngIf="inSearch | async">
      <ion-list-header class="ion-no-padding">
        <ion-label>Результаты</ion-label>
      </ion-list-header>
      <app-item *ngFor="let item of searchResults" [name]="item.name" [price]="item.price" [inStock]="item.in_stock" [sale]="item.sale" [id]="item.id" [shop]="item.shop" [image]="item.image" />
      <ion-item *ngIf="searchResults.length === 0">
        <ion-icon name="sad-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">Ничего не найдено</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>